{{/*This is the menu template in use.*/}}
<!-- Auto collapsible section menu -->
<ul class="mt-4 edgeworx-list btn-toggle-nav list-unstyled collapsible-sidebar edgeworx-list" style="margin-left: 0; padding-left: 0;">
  {{ $currentPage := . -}}
  {{ $section := (.Site.GetPage "/docs").Section -}}

  <!-- Home link -->
  {{ $active := eq $currentPage.RelPermalink "/" }}
  {{ $current := eq $currentPage.RelPermalink "/" }}

  <li class="edgeworx-list-item"><a class="docs-link main-section-title rounded{{ if $active }} active{{ end }}{{ if $current }} current{{ end }}" href="/">Home</a></li>

  {{ range (where .Site.Sections "Section" "in" $section) }}
    {{ range .Sections.ByWeight }}
      {{ $active := in $currentPage.RelPermalink .RelPermalink }}
      {{ $current := eq $currentPage.RelPermalink .RelPermalink }}
      <li class="edgeworx-list-item main-section">
        <div class="toggle-container"><button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#section-{{ md5 .Title }}" aria-expanded="{{ if $active }}true{{ else }}false{{ end }}"></button><a href="{{ .RelPermalink }}" class="main-section-title branch-link{{ if $active }} active{{ end }}{{ if $current }} current{{ end }} no-style">{{ .LinkTitle }}</a></div>
        <div class="collapse{{ if $active }} show{{ end }}" id="section-{{ md5 .Title }}">
          <ul class="btn-toggle-nav list-unstyled fw-normal small edgeworx-list">
            {{ range .Pages }}
              {{ if .IsNode }}
                {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                {{ $current := eq $currentPage.RelPermalink .RelPermalink }}
                <li class="edgeworx-list-item nested">
                  <div class="toggle-container"><button class="btn btn-toggle nested align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#section-{{ md5 .Title }}" aria-expanded="{{ if $active }}true{{ else }}false{{ end }}"></button><a href="{{ .RelPermalink }}" class="branch-link{{ if $active }} active{{ end }}{{ if $current }} current{{ end }} no-style">{{ .LinkTitle }}</a></div>
                  <div class="collapse{{ if $active }} show{{ end }}" id="section-{{ md5 .Title }}">
                    <ul class="btn-toggle-nav list-unstyled fw-normal small edgeworx-list">
                      {{ range .Pages }}
                        {{ if .IsNode }}
                          {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                          {{ $current := eq $currentPage.RelPermalink .RelPermalink }}
                          <li class="edgeworx-list-item nested">
                            <div class="toggle-container"><button class="btn btn-toggle nested align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#section-{{ md5 .Title }}" aria-expanded="{{ if $active }}true{{ else }}false{{ end }}"></button><a href="{{ .RelPermalink }}" class="branch-link{{ if $active }} active{{ end }}{{ if $current }} current{{ end }} no-style">{{ .LinkTitle }}</a></div>
                            <div class="collapse{{ if $active }} show{{ end }}" id="section-{{ md5 .Title }}">
                              <ul class="btn-toggle-nav list-unstyled fw-normal small edgeworx-list">
                                {{ range .Pages }}
                                  {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                                  {{ $current := eq $currentPage.RelPermalink .RelPermalink }}
                                  <li class="edgeworx-list-item nested"><a class="docs-link rounded{{ if $active }} active{{ end }}{{ if $current }} current{{ end }}" href="{{ .Permalink }}">{{ .LinkTitle }} {{ .Params.externalLink }}{{if .Params.draft }}<sup class="unpublished">unpub</sup>{{ end }}{{if .Params.beta }}<sup class="beta">beta</sup>{{ end }}</a></li>
                                {{ end }}
                              </ul>
                            </div>
                          </li>
                        {{ else }}
                          {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                          {{ $current := eq $currentPage.RelPermalink .RelPermalink }}
                          <li class="edgeworx-list-item nested"><a class="docs-link rounded{{ if $active }} active{{ end }}{{ if $current }} current{{ end }}{{ if .Params.command_reference }} cmd-ref{{end}}" href="{{ .Permalink }}">{{ .LinkTitle }}{{if .Params.draft }}<sup class="unpublished">unpub</sup>{{ end }}{{if .Params.beta }}<sup class="beta">beta</sup>{{ end }}</a></li>
                        {{ end }}
                      {{ end }}
                    </ul>
                  </div>
                </li>
              {{ else }}
                {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                {{ $current := eq $currentPage.RelPermalink .RelPermalink }}

                <li class="edgeworx-list-item"><a class="docs-link rounded{{ if $active }} active{{ end }}{{ if $current }} current{{ end }}{{ with .Params.externalLink }} external-link{{end}}" href="{{ with .Params.externalLink }}{{.}}{{ else }}{{ .Permalink }}{{end}}" {{ with .Params.externalLink }} target="_blank"{{end}}>{{ .LinkTitle }}{{ with .Params.externalLink }} &rarr;{{end}}{{if .Params.draft }}<sup class="unpublished">unpub</sup>{{ end }}{{if .Params.beta }}<sup class="beta">beta</sup>{{ end }}</a></li>
              {{ end }}
            {{ end }}
          </ul>
        </div>
      </li>
    {{ end }}
  {{ end }}
</ul>
