<!-- Auto collapsible section menu -->
<ul class="mt-4 darcy-list btn-toggle-nav list-unstyled collapsible-sidebar darcy-list" style="margin-left: 0; padding-left: 0;">
  {{ $currentPage := . -}}
  {{ $section := $currentPage.Section -}}

  {{ range (where .Site.Sections "Section" "in" $section) }}
    {{ range .Sections.ByWeight }}
      {{ $active := in $currentPage.RelPermalink .RelPermalink }}
      {{ $current := eq $currentPage.RelPermalink .RelPermalink }}
      <li class="darcy-list-item">
        <div class="toggle-container"><button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#section-{{ md5 .Title }}" aria-expanded="{{ if $active }}true{{ else }}false{{ end }}"></button><a href="{{ .RelPermalink }}" class="branch-link{{ if $active }} active{{ end }}{{ if $current }} current{{ end }} no-style">{{ .Title }}</a></div>
        <div class="collapse{{ if $active }} show{{ end }}" id="section-{{ md5 .Title }}">
          <ul class="btn-toggle-nav list-unstyled fw-normal small darcy-list">
            {{ range .Pages }}
              {{ if .IsNode }}
                {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                {{ $current := eq $currentPage.RelPermalink .RelPermalink }}
                <li class="darcy-list-item nested">
                  <div class="toggle-container"><button class="btn btn-toggle nested align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#section-{{ md5 .Title }}" aria-expanded="{{ if $active }}true{{ else }}false{{ end }}"></button><a href="{{ .RelPermalink }}" class="branch-link{{ if $active }} active{{ end }}{{ if $current }} current{{ end }} no-style">{{ .Title }}</a></div>
                  <div class="collapse{{ if $active }} show{{ end }}" id="section-{{ md5 .Title }}">
                    <ul class="btn-toggle-nav list-unstyled fw-normal small darcy-list">
                      {{ range .Pages }}
                        {{ if .IsNode }}
                          {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                          {{ $current := eq $currentPage.RelPermalink .RelPermalink }}
                          <li class="darcy-list-item nested">
                            <div class="toggle-container"><button class="btn btn-toggle nested align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#section-{{ md5 .Title }}" aria-expanded="{{ if $active }}true{{ else }}false{{ end }}"></button><a href="{{ .RelPermalink }}" class="branch-link{{ if $active }} active{{ end }}{{ if $current }} current{{ end }} no-style">{{ .Title }}</a></div>
                            <div class="collapse{{ if $active }} show{{ end }}" id="section-{{ md5 .Title }}">
                              <ul class="btn-toggle-nav list-unstyled fw-normal small darcy-list">
                                {{ range .Pages }}
                                  {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                                  {{ $current := eq $currentPage.RelPermalink .RelPermalink }}
                                  <li class="darcy-list-item nested"><a class="docs-link rounded{{ if $active }} active{{ end }}{{ if $current }} current{{ end }}" href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
                                {{ end }}
                              </ul>
                            </div>
                          </li>
                        {{ else }}
                          {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                          {{ $current := eq $currentPage.RelPermalink .RelPermalink }}
                          <li class="darcy-list-item nested"><a class="docs-link rounded{{ if $active }} active{{ end }}{{ if $current }} current{{ end }}" href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
                        {{ end }}
                      {{ end }}
                    </ul>
                  </div>
                </li>
              {{ else }}
                {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                {{ $current := eq $currentPage.RelPermalink .RelPermalink }}
                <li class="darcy-list-item"><a class="docs-link rounded{{ if $active }} active{{ end }}{{ if $current }} current{{ end }}" href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
              {{ end }}
            {{ end }}
          </ul>
        </div>
      </li>
    {{ end }}
  {{ end }}
</ul>
