{{ $currentSection := .CurrentSection }}
{{ $sectionPages := .CurrentSection.Pages}}
{{ $currentPage := . -}}
{{ $isIndex := eq .RelPermalink $currentSection.RelPermalink }}
{{ $pageIndex := -1 }}

{{ $prevIndex := -1}}
{{ $prevLink := "" }}
{{ $prevTitle := "" }}
{{ $prevArrow := "&larr;" }}

{{ $nextIndex := -1 }}
{{ $nextLink := "" }}
{{ $nextTitle := "" }}
{{ $nextArrow := "&rarr;" }}

{{define "nextSib"}}
    {{/* nextsib expects a page arg, and sets .Scratch "nextSiblingPage" if there
     is a next sibling page (at the same level of hierarchy) */}}

    {{$p:= .}}
    {{$foundMe := false }}
    {{if eq $p.RelPermalink .CurrentSection.RelPermalink}}
        {{/* we need this special check for index pages */}}
        {{$foundMe = true}}
    {{end}}

    {{ range $i, $item := .CurrentSection.Pages }}
        {{ if eq $p.RelPermalink $item.RelPermalink }}
            {{ $foundMe = true }}
            {{continue}}
        {{ end }}

        {{ if ne $foundMe true}}{{continue}}{{end}}

        {{ with $item.Params.externalLink}}
            {{/* if it's an external link, we don't want it to show up in nav */}}
            {{continue}}
        {{end}}

        {{ $p.Scratch.Set "nextSiblingPage" $item}}
        {{ break }}
    {{end}}
{{end}}

{{template "nextSib" $currentPage }}

<h1>Next sib: {{ ($currentPage.Scratch.Get "nextSiblingPage").LinkTitle}}</h1>




{{ if $isIndex }}
  {{ if ge (len $currentSection.Pages) 1 }}
    {{ $nextIndex = 0 }}
  {{ end}}
{{ else }}
  {{ range $i, $item := $currentSection.Pages }}
    {{ if eq $currentPage.RelPermalink $item.RelPermalink }}
      {{ $pageIndex = $i }}
    {{ end }}
  {{end -}}
{{ end }}


{{/*

Now that we know $pageIndex, we need to figure out $prevIndex and $nextIndex,
noting that both vars could end up being -1, indicating no prev/next.

Also note that we want to exclude "externalLink" pages from prev/next.

*/}}

{{ range $i, $item := $currentSection.Pages }}
  {{ if le $i $pageIndex }}{{continue}}{{end}}

  {{ $next := index $currentSection.Pages $i}}
  {{ with $next.Params.externalLink }}{{continue}}{{end}}
  {{ $nextIndex = $i }}
  {{ break }}
{{end}}


{{ range $i, $item := $currentSection.Pages }}
  <pre>
  $pageIndex: {{$pageIndex}}
  $i: {{$i}}
  $item.LinkTitle: {{$item.LinkTitle}}
  </pre>

  {{ if ge $i $pageIndex }}<p>big</p>{{break}}{{end}}

  <p>not big</p>
  {{ $prev := index $currentSection.Pages $i}}
  {{ with $prev.Params.externalLink }}{{continue}}{{end}}
  {{ $prevIndex = $i }}
{{end}}


<pre>
  $pageIndex: {{$pageIndex}}
  $prevIndex: {{$prevIndex}}
  $nextIndex: {{$nextIndex}}
</pre>


{{ if lt $prevIndex 0}}
  {{ if eq $pageIndex 0}}
    {{ $prevLink = $currentSection.RelPermalink }}
    {{ $prevTitle = $currentSection.LinkTitle }}
  {{ else }}
    {{ $parent := .GetPage ".." }}
    {{ range $i, $item := $parent.Pages }}
      {{ if and (gt $i 0) (eq $item.RelPermalink $currentPage.RelPermalink) }}
        {{ $aunt := index $parent.Pages (sub $i 1) }}
        {{ $prevLink = $aunt.RelPermalink }}
        {{ $prevTitle = $aunt.LinkTitle }}
        {{ if not $isIndex }}
          {{ $prevArrow = "&#8598;" }} {{/* The northwest arrow */}}
        {{ end }}
      {{ end }}
    {{ end }}

    {{ if and (not $prevLink) (ne $parent.Kind "home") }}
      {{ $prevLink = $parent.RelPermalink }}
      {{ $prevTitle = $parent.LinkTitle }}
      {{ $prevArrow = "&#8598;" }} {{/* The northwest arrow */}}
    {{ end }}
  {{ end }}
{{ else }}
  {{ $prev := index $currentSection.Pages $prevIndex}}
  {{ $prevLink = $prev.RelPermalink }}
  {{ $prevTitle = $prev.LinkTitle }}
{{ end }}

{{ if ge $nextIndex 0}}
  {{ $next := index $currentSection.Pages $nextIndex}}
  {{ $nextLink = $next.RelPermalink }}
  {{ $nextTitle = $next.LinkTitle }}
{{ else }}
<h1>getting up</h1>
  {{ $parent := .GetPage ".." }}
  {{ range $i, $item := $parent.Pages }}
    {{ if (eq $item.RelPermalink $currentSection.RelPermalink) }}
      {{ $auntIndex := add $i 1}}
      {{ if lt $auntIndex (len $parent.Pages) }}
        {{ $aunt := index $parent.Pages $auntIndex }}
        {{ $nextLink = $aunt.RelPermalink }}
        {{ $nextTitle = $aunt.LinkTitle }}
        {{ $nextArrow = "&#8599;" }} {{/* The northeast arrow */}}
      {{ else }}
        {{ $grandparent := .GetPage "../.." }}
        {{ range $i, $item := $grandparent.Pages }}
          {{ if (eq $item.RelPermalink $parent.RelPermalink) }}
            {{ $grandauntIndex := add $i 1}}
            {{ if lt $grandauntIndex (len $grandparent.Pages) }}
              {{ $grandaunt := index $grandparent.Pages $grandauntIndex }}
              {{ $nextLink = $grandaunt.RelPermalink }}
              {{ $nextTitle = $grandaunt.LinkTitle }}
              {{ $nextArrow = "&#8599;" }} {{/* The northeast arrow */}}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}


{{ with (or $prevLink $nextLink)}}
  <div class="docs-navigation d-flex justify-content-between">

    {{ with $prevLink }}
      <a href="{{ $prevLink }}">
        <div class="card my-1">
          <div class="card-body py-2">
            {{ $prevArrow | safeHTML}} {{ $prevTitle }}
          </div>
        </div>
      </a>
    {{ end -}}

    {{ with $nextLink }}
    <a class="ms-auto" href="{{ $nextLink }}">
      <div class="card my-1">
        <div class="card-body py-2">
          {{ $nextTitle }} {{ $nextArrow | safeHTML}}
        </div>
      </div>
    </a>
    {{ end -}}

  </div>
{{ end}}

