{{ $currentSection := .CurrentSection }}
{{ $sectionPages := .CurrentSection.Pages}}
{{ $currentPage := . -}}
{{ $isIndex := eq .RelPermalink $currentSection.RelPermalink }}

{{ $nextLink := "" }}
{{ $nextTitle := "" }}
{{ $nextArrow := "&larr;" }}

{{ $nextIndex := -1 }}

{{ $prev2Link := "" }}
{{ $prev2Title := "" }}
{{ $prev2Arrow := "&larr;" }}
{{ $prev2Index := -1}}
{{ $next2Index := -1}}
{{ $pageIndex := -1 }}

{{ if $isIndex }}
  {{ if gt (len $currentSection.Pages) 1 }}
    {{ $next2Index = 1 }}
  {{ end}}
{{ else }}
  {{ range $i, $item := $currentSection.Pages }}
    {{ if eq $currentPage.RelPermalink $item.RelPermalink }}
      {{ $pageIndex = $i }}
      {{ $prev2Index = sub $i 1 }}
      {{ if lt $i (len $currentSection.Pages) }}
        {{ $next2Index = add $i 1}}
      {{ end }}
    {{ end }}
  {{end -}}
{{ end }}

<pre>$pageIndex: {{ $pageIndex }}
  $prev2Index: {{ $prev2Index }}
$next2Index: {{ $next2Index }}</pre>


<div class="docs-navigation d-flex justify-content-between">

{{ if lt $prev2Index 0}}
  {{ if eq $pageIndex 0}}
    {{ $prev2Link = $currentSection.RelPermalink }}
    {{ $prev2Title = $currentSection.Title }}
  {{ else }}
  {{ $parent := .GetPage ".." }}
    {{ range $i, $item := $parent.Pages }}
      {{ if and (gt $i 0) (eq $item.RelPermalink $currentPage.RelPermalink) }}
        {{ $aunt := index $parent.Pages (sub $i 1) }}
        {{ $prev2Link = $aunt.RelPermalink }}
        {{ $prev2Title = $aunt.Title }}
        {{ if not $isIndex }}
          {{ $prev2Arrow = "&#8598;" }} {{/* The northwest arrow */}}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ $prev := index $currentSection.Pages $prev2Index}}
  {{ $prev2Link = $prev.RelPermalink }}
  {{ $prev2Title = $prev.Title }}
{{ end }}




  {{ with $prev2Link }}
    <a href="{{ $prev2Link }}">
      <div class="card my-1">
        <div class="card-body py-2">
          {{ $prev2Arrow | safeHTML}} {{ $prev2Title }}
        </div>
      </div>
    </a>
  {{ end -}}


  {{/*
    Now, onto the "previous" section, which is really the NEXT section.
  */}}


</div>
