/*

Put CSS for custom HTML components here.

*/

// Home
.no-hover-link {
  &:hover {
    text-decoration: none;
  }
}

$border-color: #a9b2bc88;
$background-color: $edgeneutral-05;
$dark-purple: #181f22;
$text-color: $edgeneutral-5;
$darcy-blue: $darcy-blue-dark;
$gray-bg: $edgeneutral-05;
$link-color: #006390;

.darcy-card-container {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  gap: 1.5rem;

  & .darcy-card {
    background: $background-color 0% 0% no-repeat padding-box;
    border: 1px solid $border-color;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
    height: 100%;
    justify-self: center;

    & .number {
      text-align: center;
      letter-spacing: 0.22px;
      color: $darcy-blue;
      text-transform: uppercase;
      opacity: 1;
      border-radius: 42px;
      width: 42px;
      height: 42px;
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      background-color: $dark-purple;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & .card-content {
      border-top: 1px solid $border-color;
      padding: 1rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & .time {
        width: 100%;
        text-transform: uppercase;
        display: flex;
        justify-content: flex-end;
        font: normal normal normal 12px/18px Gilroy, sans-serif;
        letter-spacing: 0;
        color: $text-color;
        opacity: 1;
      }

      & .card-details {
        & .card-title {
          width: 100%;
          margin-top: 1.5rem;
          text-align: center;
          font: normal normal 600 18px/24px Gilroy, sans-serif;
          letter-spacing: 0;
          color: $text-color;
          opacity: 1;
        }

        & .card-subtitle {
          text-align: center;
          margin-top: 1.5rem;
          font: normal normal normal 14px/20px Gilroy, sans-serif;
          letter-spacing: 0;
          color: $text-color;
          opacity: 1;
        }
      }

      & .card-action {
        margin-top: 3rem;

        & button {
          width: 100%;
          background: $darcy-blue 0% 0% no-repeat padding-box;
          border-radius: 4px;
          opacity: 1;
          text-align: center;
          letter-spacing: 0.17px;
          color: $text-color;
          text-transform: uppercase;
          font: normal normal 600 14px/20px Gilroy, sans-serif;
          border: unset;
          padding: 0.5rem;
        }
      }
    }

    & img {
      width: 100%;
    }
  }
}

.darcy-home {
  & .gray-section {
    background: $gray-bg 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    padding: 2rem;
  }

  & .img-fluid-container {
    display: flex;
    justify-content: center;
  }

  & .img-label {
    padding-top: 2rem;
    max-width: 628px;

    & .title {
      text-align: left;
      font: normal normal 600 18px/29px Gilroy, sans-serif;
      letter-spacing: 0;
    }

    & .subtitle {
      text-align: left;
      font: normal normal normal 18px/29px Gilroy, sans-serif;
      letter-spacing: 0;
    }
  }

  & .doc-section-container {
    display: grid;
    grid-auto-flow: row;
    gap: 2rem;
    padding-bottom: 2rem;

    & .doc-section {
      & .title {
        text-align: left;
        font: normal normal 600 28px/42px Gilroy, sans-serif;
        letter-spacing: -0.14px;
      }

      & .links-container {
        padding-top: 2rem;
        display: grid;
        grid-auto-flow: row;
        gap: 1.5rem;

        & .link {
          text-align: left;
          font: normal normal normal 16px/20px Gilroy, sans-serif;
          letter-spacing: 0.19px;
          color: $link-color;
        }
      }
    }
  }
}

.darcy-tabs {
  .nav-item {
    margin-left: 0;

    .nav-link {
      color: $text-color;

      &:hover {
        color: $link-color;
        text-decoration: underline;
      }

      &.active {
        color: $link-color;
        text-decoration: underline;
        background-color: transparent;
        font-weight: 600;
      }
    }
  }
}

.darcy-tab-content {
  border: 1px solid $border-color;
  border-radius: 4px;
  padding: 1.5rem 0.5rem;

  .alert-container {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: -1.5rem;
  }

  ul {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .darcy-card-container {
    grid-auto-flow: column;

    .darcy-card {
      max-width: unset;
    }
  }

  .home {
    & .doc-section-container {
      & .doc-section {
        & .links-container {
          grid-auto-flow: column;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(3, 1fr);
        }
      }
    }
  }
}
