.footer {
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
  background-color: #e3e8f1;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 1rem;

  .footer-layout {
    padding-right: 8px;
    padding-left: 8px;
    border-top-color: #a9b2bc;
    text-align: center;

    img {
      border: 0;
      vertical-align: middle;
      display: inline-block;
      max-width: 100%;
    }

    .footer-nav {
      justify-items: center;
      gap: 24px;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
      display: -ms-grid;
      display: grid;
      margin-top: 1.5rem;
      grid-auto-columns: 1fr;
      color: #002131;

      .footer-navstack {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

        .footer-head {
          margin-top: 0;
          margin-bottom: 12px;
          color: #2c2c2c;
          font-size: 1em;
          line-height: 1.5;
          font-weight: 600;
          text-transform: uppercase;
        }

        .footer-navlink {
          margin-top: 4px;
          margin-bottom: 4px;
          -webkit-align-self: center;
          -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
          font-weight: 400;
          font-size: 1em;

          &:any-link {
            color: $edgeneutral-5;
          }

          &:hover {
            color: $darcy-blue;
            text-decoration: underline;
          }
        }
      }
    }

    .social {
      display: grid;
      margin-top: 1rem;
      padding-top: 1.5rem;
      padding-bottom: 0;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      grid-auto-columns: 1fr;
      gap: 16px;
      -ms-grid-rows: auto;
      grid-template-rows: auto;
      border-top: 1px solid #a9b2bc;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;

      .logo {
        justify-self: center;
        order: -1;
      }

      .copyright {
        color: #002131;
        font-size: 0.85em;
        order: last;
      }

      .logo-container {
        text-align: center;
      }

      .social-buttons {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        grid-auto-columns: 1fr;
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        order: -1;
        margin-bottom: 16px;

        .social-link-block {
          width: 2em;
          margin: 4px;
        }
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .footer {
    padding-left: 16px;
    padding-right: 16px;

    .footer-layout {
      text-align: left;
      max-width: 1240px;
      margin: auto;

      .footer-nav {
        display: grid;
        grid-auto-columns: 1fr;
        gap: 16px;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        color: #002131;
        justify-items: start;

        .footer-navstack {
          .footer-navlink {
            align-self: flex-start;
            margin-top: 0;
            margin-bottom: 0.5em;
          }
        }
      }

      .social {
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 1em;

        .copyright {
          justify-self: start;
        }

        .logo {
          order: unset;
          justify-self: end;
        }

        .logo-container {
          text-align: end;
        }

        .social-buttons {
          order: unset;
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    font-size: 19px;

    .footer-layout {
      padding-left: 0;
      padding-right: 0;
      max-width: 1272px;

      .footer-nav {
        margin-top: 16px;

        .footer-navstack {
          .footer-head {
            font-size: 1em;
          }

          .footer-navlink {
            font-size: 19px;
          }
        }
      }
    }
  }
}
