<footer class="footer">
  <div class="footer-layout">
    <div class="footer-nav">
      <div class="footer-navstack">
        <h5 class="footer-head">Product</h4>
        <a href="https://www.edgeworx.io" class="footer-navlink"><div>Edgeworx Cloud</div></a>
      </div>
      <div class="footer-navstack">
        <h5 class="footer-head">Developers</h4>
        <a href="/" class="footer-navlink "><div>Developer docs</div></a>
        <a href="https://github.com/edgeworx" target="_blank" class="footer-navlink "><div>GitHub</div></a>
        <a href="https://status.edgeworx.io"  class="footer-navlink "><div>Status</div></a>
      </div>
      <div class="footer-navstack">
        <h5 class="footer-head">Company</h4>
        <a href="https://edgeworx.io/support" class="footer-navlink "><div>Support</div></a>
        <a href="https://discuss.edgeworx.io" class="footer-navlink "><div>Forums</div></a>
        <a 
          href="mailto:support@edgeworx.io" 
          class="footer-navlink ">
          <div>Contact Us</div>
        </a>
      </div>
    </div>
    <div class="social">
      <a href="https://www.edgeworx.io" class="logo-container">
        <img src="/images/footer/foot-logo-edgeworx.svg" loading="lazy" width="165" class="logo" alt="">
      </a>
      <div class="social-buttons">
        <a href="https://www.linkedin.com/company/edgeworxio/"  class="social-link-block">
          <img src="/images/footer/linkedin.svg" loading="lazy" alt="">
        </a>
        <a href="https://github.com/edgeworx" target="_blank" class="social-link-block">
          <img src="/images/footer/github.svg" loading="lazy" alt="">
        </a>
      </div>
      <div class="legal legal-links">
        <div class="copyright">©{{ time.Now.Year }} Edgeworx</div>
        <div>|</div>
        <div><a href="https://www.edgeworx.io/privacy" target="_blank" class="social-link-block">Privacy</a></div>
        <div>|</div>
        <div><a href="https://www.edgeworx.io/terms" target="_blank" class="social-link-block">Terms</a></div>
      </div>
    </div>
  </div>
</footer>
