<footer class="footer">
  <div class="footer-layout">
    <a href="https://www.darcy.ai">
      <img src="/images/footer/foot-logo-darcy.png" loading="lazy" alt="">
    </a>
    <div class="footer-nav">
      <div id="w-node-c9636e96-9447-38e2-ab75-14632ebdb522-2ebdb50e" class="footer-navstack">
        <h4 class="footer-head">Developers</h4>
        <a href="/" class="footer-navlink w-inline-block"><div>Docs</div></a>
        <a href="https://discuss.darcy.ai" class="footer-navlink w-inline-block"><div>Forums</div></a>
        <a href="https://github.com/darcyai" target="_blank" class="footer-navlink w-inline-block"><div>GitHub</div></a>
        <a href="https://status.darcy.ai"  class="footer-navlink w-inline-block"><div>Status</div></a>
      </div>
      <div id="w-node-c9636e96-9447-38e2-ab75-14632ebdb513-2ebdb50e" class="footer-navstack">
        <h4 class="footer-head">Products</h4>
        <a href="https://www.darcy.ai/#darcyai-section" class="footer-navlink w-inline-block"><div>Darcy AI</div></a>
        <a href="https://www.darcy.ai/#darcycam-section" class="footer-navlink w-inline-block"><div>Darcy Cam</div></a>
        <a href="https://www.darcy.ai/#darcycloud-section" class="footer-navlink w-inline-block"><div>Darcy Cloud</div></a>
        <!-- <a href="#" class="footer-navlink hide w-inline-block"><div>Pricing</div></a> -->
      </div>
      <div id="w-node-c9636e96-9447-38e2-ab75-14632ebdb534-2ebdb50e" class="footer-navstack">
        <h4 class="footer-head">Company</h4>
        <!-- <a href="#" class="footer-navlink hide w-inline-block"><div>What we do</div></a>
        <a href="#" class="footer-navlink hide w-inline-block"><div>News &amp; Press</div></a>
        <a href="#" class="footer-navlink hide w-inline-block"><div>Who we are</div></a> -->
        <a href="https://discuss.darcy.ai" class="footer-navlink w-inline-block"><div>Support</div></a>
        <a data-w-id="8d0639c1-f353-51fc-d2da-316cc99ba386" href="mailto:support@darcy.ai" class="footer-navlink w-inline-block"><div>Contact Us</div></a>
        <a href="https://www.darcy.ai/blog" class="footer-navlink w-inline-block"><div>Darcy Blog</div></a>
      </div>
    </div>
    <div class="social">
      <div class="copyright">© 2022 Darcy is a product of Edgeworx Inc</div>
      <div class="social-buttons">
        <a href="https://github.com/darcyai" target="_blank" class="social-link-block w-inline-block">
          <img src="/images/footer/Github.png" loading="lazy" id="w-node-c9636e96-9447-38e2-ab75-14632ebdb55b-2ebdb50e" alt="" class="social-icon">
        </a>
        <a href="https://twitter.com/EdgeworxIO"  class="social-link-block w-inline-block">
          <img src="/images/footer/Twitter.png" loading="lazy" alt="" class="social-icon">
        </a>
        <a href="https://www.youtube.com/channel/UCebgDK_-yzV3eOvTLgLW4Zw"  class="social-link-block w-inline-block">
          <img src="/images/footer/YouTube.png" loading="lazy" alt="" class="social-icon">
        </a>
        <a href="https://www.linkedin.com/company/edgeworx-inc/"  class="social-link-block w-inline-block">
          <img src="/images/footer/Linkedin.png" loading="lazy" alt="" class="social-icon">
        </a>
      </div>
      <a href="https://www.darcy.ai" class="logo-container">
        <img src="/images/footer/foot-logo-edgeworx.png" loading="lazy" width="150" class="logo" alt="">
      </a>
    </div>
  </div>
</footer>
