{{ define "main"}}
<script>
  window.analytics.page("Docs", "Home", { path: window.location.pathname })
</script>
<div class="row flex-xl-nowrap">
  <div class="col-lg-5 col-xl-4 docs-sidebar d-none d-lg-block">
    <nav {{ if eq .Site.Params.menu.section.collapsibleSidebar false }}id="sidebar-default" {{ end }}class="docs-links" aria-label="Main navigation">
      {{ partial "sidebar/docs-menu.html" . }}
    </nav>
  </div>
  <div class="col edgeworx-home">
    <h1>Edgeworx Documentation</h1>

    <section>
      <h2>Start Here</h2>
      <div class="edgeworx-card-container">
        {{ range $index, $card := $.Params.cards }}
        <a href="{{ $card.link }}" class="no-hover-link">
          <div class="edgeworx-card">
            <div class="number">{{ add $index 1 }}</div>
            <img src="{{ $card.image }}" alt="{{ $card.title }}" class="img-fluid" />
            <div class="card-content">
              <div class="time">{{ $card.time }}</div>
              <div class="card-details">
                <div class="card-title">{{ $card.title }}</div>
                <div class="card-subtitle">{{ $card.subtitle }}</div>
              </div>
              <div class="card-action">
                <button>{{ $card.action }}</button>
              </div>
            </div>
          </div>
        </a>
        {{ end }}
      </div>
    </section>

    <section>
      <h2>What is Edgeworx Cloud?</h2>
      <div class="gray-section">
        <div class="img-fluid-container"><img src="/images/home/map.png" alt="Edgeworx Map" class="img-fluid"/></div>
        <div class="img-label">
          <div class="title">Edgeworx Cloud is a platform for deploying and managing edge apps and devices</div>
          <div class="subtitle">Build apps in your local environment, deploy them to the edge to Linux devices, and run everything from anywhere using Edgeworx Cloud. </div>
        </div>
      </div>
    </section>
    <section>
      <h2>Explore the Docs</h2>
      <div class="doc-section-container">
        {{ $section := (.Site.GetPage "/docs").Section -}}
        {{ range (where .Site.Sections "Section" "in" $section) }}
          {{ range .Sections.ByWeight }}
            <div class="gray-section doc-section">
              <div class="title">{{ .LinkTitle }}</div>
              <div class="links-container">
                {{ range .Pages }}
                <a class="link" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                {{ end }}
              </div>
            </div>
          {{ end }}
        {{ end }}
      </div>
    </section>
  </div>
</div>
{{ end }}
