{{ $style := .Get "style" }}
{{ if not $style }} {{ $style = "info" }} {{ end}}

{{ $icon := "💡" }}
{{ with .Get "icon" }}
  {{ $icon = .}}
{{ else }}
  {{ if eq $style "success" }} {{ $icon = "/images/alerts/alert-confirm.png" }} {{end}}
  {{ if eq $style "warning" }} {{ $icon = "/images/alerts/alert-warning.png" }} {{end}}
  {{ if eq $style "danger" }} {{ $icon = "/images/alerts/alert-warning.png" }} {{end}}
  {{ if eq $style "info" }} {{ $icon = "/images/alerts/alert-info.png" }} {{end}}
{{ end }}




<div class="alert alert-info d-flex callout" role="alert">
  <div class="flex-shrink-1 alert-icon">
    <img src="/images/alerts/alert-info.png" alt="Info" class="img-fluid" width="24" />
  </div>
  <div class="w-100">
        {{ trim .Inner " \n" | markdownify }}
  </div>
</div>
