{{ $style := .Get "style" }}
{{ if not $style }} {{ $style = "info" }} {{ end}}

{{ $icon := "💡" }}
{{ with .Get "icon" }}
  {{ $icon = .}}
{{ else }}
  {{ if eq $style "success" }} {{ $icon = "/images/alerts/alert-confirm.png" }} {{end}}
  {{ if eq $style "warning" }} {{ $icon = "/images/alerts/alert-warning.png" }} {{end}}
  {{ if eq $style "danger" }} {{ $icon = "/images/alerts/alert-warning.png" }} {{end}}
  {{ if eq $style "info" }} {{ $icon = "/images/alerts/alert-info.png" }} {{end}}
{{ end }}




<div class="alert alert-{{$style}} d-flex" role="alert">
  <div class="flex-shrink-1 alert-icon">
    <img src="{{ $icon }}" alt="{{ $style }}" class="img-fluid" width="24" />
  </div>
  {{ with .Get "text"}}
    <div class="w-100">{{ . | safeHTML }} </div>
  {{ else }}
    {{ with .Inner}}
      <div class="w-100"> {{ . | markdownify}}</div>
    {{ else }}
      {{ errorf "No valid text variable or Inner content given"}}
    {{ end }}
  {{ end}}
</div>
