{{ $ctx := .Get "type" }}
{{ if not $ctx }} {{ $ctx = "info" }} {{ end}}

{{ $icon := "💡" }}
{{ if eq $ctx "success" }} {{ $icon = "✅" }} {{end}}
{{ if eq $ctx "warning" }} {{ $icon = "⚠️" }} {{end}}
{{ if eq $ctx "danger" }} {{ $icon = "⛔" }} {{end}}


<div class="alert alert-{{$ctx}} alert-doks d-flex" role="alert">
  <div class="flex-shrink-1 alert-icon">{{ $icon }} </div>
  {{ with .Get "text"}}
    <div class="w-100">{{ . | safeHTML }} </div>
  {{ else }}
    {{ with .Inner}}
      <div class="w-100"> {{ . | markdownify}}</div>
    {{ else }}
      {{ errorf "No valid text variable or Inner content given"}}
    {{ end }}
  {{ end}}
</div>
