/*

Put CSS for custom HTML components here.

*/

// Home
.no-hover-link {
  &:hover {
    text-decoration: none;
  }
}

body {
  // line-height: 1.5em;
}

$code-block-bg: #032332;

$border-color: #a9b2bc88;
$background-color: $edgeneutral-05;
$dark-purple: #181f22;
$text-color: $edgeneutral-5;
$gray-bg: $edgeneutral-05;
$link-color: #006390;

$tab-content-bg: #f5f6f7;

.edgeworx-card-container {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  gap: 1.5rem;

  & .edgeworx-card {
    background: $background-color 0% 0% no-repeat padding-box;
    border: 1px solid $border-color;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
    height: 100%;
    justify-self: center;

    &:hover {
      border: 1px solid $edgeworx-blue-dark;
    }

    & .number {
      text-align: center;
      letter-spacing: 0.22px;
      color: $edgeworx-blue-dark;
      text-transform: uppercase;
      opacity: 1;
      border-radius: 42px;
      width: 42px;
      height: 42px;
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      background-color: $dark-purple;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & .card-content {
      border-top: 1px solid $border-color;
      padding: 1rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & .time {
        width: 100%;
        text-transform: uppercase;
        display: flex;
        justify-content: flex-end;
        font: normal normal normal 14px/18px Gilroy, sans-serif;
        letter-spacing: 0;
        color: $text-color;
        opacity: 1;
      }

      & .card-details {
        & .card-title {
          width: 100%;
          margin-top: 0.75rem;
          text-align: center;
          font: normal normal 600 18px/24px Gilroy, sans-serif;
          letter-spacing: 0;
          color: $text-color;
          opacity: 1;
        }

        & .card-subtitle {
          text-align: center;
          margin-top: 1.5rem;
          font: normal normal normal 16px/24px Gilroy, sans-serif;
          letter-spacing: 0;
          color: $text-color;
          opacity: 1;
        }
      }

      & .card-action {
        margin-top: 1.5rem;

        & button {
          width: 100%;
          background: $edgeworx-blue-dark 0% 0% no-repeat padding-box;
          border-radius: 4px;
          opacity: 1;
          text-align: center;
          letter-spacing: 0.17px;
          color: $text-color;
          text-transform: uppercase;
          font: normal normal 600 16px/20px Gilroy, sans-serif;
          border: unset;
          padding: 0.5rem;
        }
      }
    }

    & img {
      width: 100%;
    }
  }
}

.edgeworx-home {
  & .gray-section {
    background: $gray-bg 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    padding: 2rem;
  }

  & .img-fluid-container {
    display: flex;
    justify-content: center;
  }

  & .img-label {
    padding-top: 2rem;
    max-width: 628px;

    & .title {
      text-align: left;
      font: normal normal 600 18px/29px Gilroy, sans-serif;
      letter-spacing: 0;
    }

    & .subtitle {
      text-align: left;
      font: normal normal normal 18px/29px Gilroy, sans-serif;
      letter-spacing: 0;
    }
  }

  & .doc-section-container {
    display: grid;
    grid-auto-flow: row;
    gap: 2rem;
    padding-bottom: 2rem;

    & .doc-section {
      & .title {
        text-align: left;
        font: normal normal 600 28px/42px Gilroy, sans-serif;
        letter-spacing: -0.14px;
      }

      & .links-container {
        padding-top: 2rem;
        display: grid;
        grid-auto-flow: row;
        gap: 1.5rem;

        & .link {
          text-align: left;
          font: normal normal normal 16px/20px Gilroy, sans-serif;
          letter-spacing: 0.19px;
          color: $link-color;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .edgeworx-card-container {
    grid-auto-flow: column;

    .edgeworx-card {
      // TODO: The below is what makes the card on the front page massive. Commenting out to resize card.
      // max-width: unset;
    }
  }

  .home {
    & .doc-section-container {
      & .doc-section {
        & .links-container {
          grid-auto-flow: row;
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
}

a > code {
  text-decoration: underline;
  text-decoration-style: dashed;
}

// div.chroma is the container for syntax-highlighted code blocks.
div.tab-content pre.chroma > code,
pre.chroma {
  background-color: $code-block-bg;
  color: #d8dee9;
}

// Tab Panes
// E.g. "mac | windows | linux".

div.tabs-wrapper {
  nav.nav-tabs {
    .nav-link {
      border-bottom-color: $nav-tabs-link-active-border-color;
      color: $text-color;

      span.subtitle {
        color: slategray;
        font-size: 1rem;
        opacity: 60%;
        padding-left: 8px;
      }

      &:hover {
        color: $link-color;
      }

      &.active {
        color: $link-color;
        background-color: $tab-content-bg;

        // For a visible border, use #DEE2E6FF
        // border-bottom-color: #DEE2E6FF;
        border-bottom-color: $tab-content-bg;
        font-weight: 400;
      }
    }
  }

  div.tab-content {
    padding: 20px;
    background-color: $tab-content-bg;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 1px solid #dee2e6ff;
    border-right: 1px solid #dee2e6ff;
    border-bottom: 1px solid #dee2e6ff;
  }
}

div.doc-meta {
  margin-top: 5px;
  margin-bottom: 25px;

  div.internal-meta {
    margin-top: 5px;
    margin-bottom: 5px;

    div {
      // Generic meta item
      padding: 5px 10px;
      text-transform: uppercase;
      font-weight: bold;
      background-color: $nord0;
      color: $nord6;
    }

    div.unpublished {
      background-color: $nord11;
    }

    div.draft {
      background-color: $nord12;
    }
  }

  div.beta {
    background-color: $nord13;
    padding: 10px;
    font-weight: bold;
  }
}

a > sup {
  padding-left: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

a > sup.unpublished {
  color: $nord12;
}

a > sup.beta {
  color: $nord13;
}
